/* ----------------Accordian------------- */
.accordion {
  width: 100%;
}

.accordion-item {
  border: 1px solid #fff;
  background-color: #09655A;
  box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.13);
}

.accordion-title {
  cursor: pointer;
  background-color: transparent;
}

.accordion-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  color: white;
  padding: 0 50px 0 0;
  transition: all .6s ease-in-out;
}

.accordion-content.open {
  max-height: 300px;
  padding-top: 20px;
  opacity: 1;
}

/* -------------------------form------------------------- */
.registration-form {
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error {
  border-color: #ff0000;
}

.error-message {
  color: #ff0000;
  margin-top: 5px;
}

.success-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #007bff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.success-popup p {
  margin-bottom: 10px;
}

.success-popup button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.success-popup button:hover {
  background-color: #0056b3;
}

/* --------------------Swiper---------------------- */
.my_swiper {
  width: 240px;
  height: 320px;
}

.slidercards.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.slidercards.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.slidercards.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.slidercards.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.slidercards.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.slidercards.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.slidercards.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.slidercards.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.slidercards.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.slidercards.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.slidercards.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}