@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

body {
  margin: 0;
  font-family: 'Protest Riot', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Protest Riot', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;